<!DOCTYPE html>
<html lang="en">

<div style="display:none;"> <!-- DJANGO STUFF -->
    {% load static %}
</div>



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>availme - App</title>
    <link rel="icon" type="image/x-icon" href="">

    <script src="https://kit.fontawesome.com/b2370eb060.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="sidebar">

        <div class="sidebar_button" id="sidebarToggle"> <!-- TOGGLE BTN -->
            <div  onclick="toggleSidebar()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="sidebar_button active" id="DASHBOARD" onclick="switch2Page(this.id);">
            <div id="">
                <i class="fa-solid fa-window-maximize"></i>
            </div>
        </div>
        <div class="sidebar_button" id="MAP" onclick="switch2Page(this.id);">
            <div id="">
                <i class="fa-solid fa-map"></i>
            </div>
        </div>
        <div class="sidebar_button" id="SETTINGS" onclick="switch2Page(this.id);">
            <div id="">
                <i class="fa-solid fa-gear"></i>
            </div>
        </div>

    </div>

    <div id="context">
        <div id="header">

            <!-- <div id="logo"><img src="" alt=""></div> -->
            <div id="logo"><h2 style="color: #b1483b; text-shadow: 2px 3px 5px black;">availme</h2></div>

            <div id="panel">
                <h4>Web App</h4>
                <button>Upgrade 2 Pro</button>
            </div>
        </div>

        <div id="page">
            <div class="loader" id="pageloader"></div>
        </div>
    </div>

    
</body>

<!-- SCRIPT -->
<script>

    // Global Vars
    let isSidebarActive = false;
    let activePage = 'DASHBOARD';
    let pageLoadingIcon = document.getElementById('pageloader');
    let csrftoken

    function toggleSidebar(){
        let sideBar = document.getElementById('sidebar');
        if (isSidebarActive) {
            sideBar.style.width = '70px';
            isSidebarActive = false;
        }else{
            sideBar.style.width = '250px';
            isSidebarActive = true;
        }
    }

    function switch2Page(pageid){
        if (pageid == activePage) {
            return null;
        }
        enablePageLoader();

        // LOAD THE PAGE
        console.log(pageid);
        

        // CHANGE THE UI
        document.getElementById(pageid).classList.add('active');
        document.getElementById(activePage).classList.remove('active');
        activePage = pageid;

        disablePageLoader();
    }

    function enablePageLoader() {
        pageLoadingIcon.style.visibility = 'visible';
    }
    function disablePageLoader() {
        pageLoadingIcon.style.visibility = 'hidden';        
    }

</script>
</html>