*{
    color: #f6f6df;
    margin: 0%;
    padding: 0%;

    

    /* DEBUG */
    /* background-color: rgba(156, 255, 28, 0.275);  */
}

html{
    background-color: #141313;
}
body{
    background-color: #141313;
}

#header{
    background-color: #ffc600;
    height: 80px;
    box-shadow: 2px 2px 5px #141313;

    display: flex;
}

#logo{
    background-color: aqua;
}